*{
    margin: 0;
    font-family: Jakarts;
}
@font-face {
    font-family: Jakarts;
    src: url(../src/font/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}
body{
    background-image: url(../src/img/fotobanner1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    opacity: 0.6;
}
.navbar{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.espaco{
    width: 50px;
}
.logo{
    width: 190px;
}
.user{
    width: 40px;
    margin-right: 10px;
}
.formu{
    display: flex;
    justify-content: center;
}
.corpo{
    background-color: #ffffff;
    text-align: center;
    width: 300px;
    margin: 80px;
    padding: 30px;
    border-radius: 30px;
}

.botao{
    width: 100%;
    background-color: #8DB600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.botao:hover{
    background-color: #7ca200;
}