*{
    margin: 0;
    font-family: Jakarts;
}
@font-face {
    font-family: Jakarts;
    src: url(../src/font/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}
.background{
    background-image: url(../src/img/fotobanner1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.menu{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255, 0.6);
}
.navbar{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.espaco{
    width: 50px;
}
.logo{
    width: 190px;
}
.user{
    width: 40px;
    margin-right: 10px;
}

.mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
}
.bloco1{
    margin: 40px;
}
.msg{
    font-family: Jakarts;
    color: #ffffff;
}
.texto{
    font-family: Jakarts;
    color: #ffffff;
}

.alertas{
    width: 100%;
    height: 220px;
    background-color: #ffffff;
}
.alerts{
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
}
.temperatura{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #FF0000;
    border: #ffffff solid;
    border-width: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
        -webkit-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
}
.temp{
    align-items: center;
    margin-top: 70px;
}
.txt{
    font-weight: Jakarts;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
}
.setores{
    width: 350px;
    height: 330px;
    background-color: #ffffff;
    border-width: 15px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
        -webkit-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
}
.set{
    width: 318px;
    height: 240px;
    background-color: #FF0000;
    border-radius: 7px;
    margin: 15px;
}
.sensor{
    margin-top: 30px;
    margin-bottom: 20px;
}
.botao{
    padding: 10px 110px 10px 110px;
    background-color: #FF0000;
    border: #FF0000 solid;
    border-radius: 7px;
    font-family: Jakarts;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}
.botao:hover{
    background-color: #e70101;
    border: #e70101 solid;
}
.umidade{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #FF0000;
    border: #ffffff solid;
    border-width: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
        -webkit-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.56);
}
.umid{
    align-items: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.criticos{
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 70px;
}
.lista{
    background-color: #ffffff;
    height: 250px;
    width: 100%;
    border: #DFC900 solid;
    border-radius: 20px;
    border-width: 10px;
    padding: 20px;
}
.legenda{
    background-color: #DFC900;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.legenda h3{
    color: black;
}
.secao{
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.secao:hover{
    background-color: #efeeee;
}
.dt{
    margin-left: 100px;
}
.num{
    margin-left: 240px;
}
.graus{
    margin-left: 290px;
}
.porc{
    margin-left: 290px;
}

.grafico{
    height: 700px;
    display: flex;
    justify-content: center;
    margin: 70px;
}
.metricas{
    background-color: #ffffff;
    height: 600px;
    width: 100%;
    border: #DFC900 solid;
    border-radius: 20px;
    border-width: 10px;
    padding: 20px;
}
.secao1{
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
.chartjs{
    justify-content: center;
    display: flex;
}
.exp{
    width: 170px;
    text-align: center;
}
.exp h2{
    font-size: 20px;
    margin-top: 70px;
}
.slc{
    background-color: #DFC900;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    font-size: 15px;
    border: black solid;
}
.chart{
    margin: 40px;
    width: 900px;
}
.voltar{
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.voltar button{
    
}