@font-face {
    font-family: Jakarts;
    src: url(../src/font/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}
html{
    font-family: Jakarts;
    min-height: 100%;
}
.background{
    background-image: url(../src/img/fundo\ home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    background-color: rgb(255, 255, 255, 0.75);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.logo{
  margin-left: 31px;
  margin-right: 180px;
}
.logo img {
    width: 150px;
    height: fit-content;
}
.links {
   display: flex;
   justify-content: center;
   align-items: center;
}

.link{
    text-decoration: none;
    color: #14282E;
    font-weight: 900;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
.botao{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 200px;
}
.botao button {
    font-size: 15px;
    font-weight: 700;
    border: #8DB600 solid;
    background-color: #8DB600;
    border-radius: 10px;
    color: #F8FBEF;
    padding: 7px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 51px;
    cursor: pointer;
}

button:hover {
    background-color: #8cb60098;
    border: #8cb60098 solid;
}
.caixa{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudos{
    background-color: rgb(255, 255, 255, 0.8);
    width: fit-content;
    height: fit-content;
    border-radius: 20px ;
}
.texto1{
    font-size: 40px;
    font-weight: 700;
    width: 332px;
    height: 150px;
    margin: 83px 266px 0px 112px;
}
.texto2{
    font-size: 40px;
    font-weight: 700;
    width: 332px;
    height: 150px;
    margin: 0px 172px 65px 112px ;
}
.corTexto{
    color: #8DB600;
} 
.boxlinha{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.linha{
    width: 484.08px;
    border: solid 7px #F0E751;
}

/* Css do footer */
footer{
    width: 100%;
    height: 310px;
    background-color: #696969;
    font-family: Jakarts;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.agencia{
    display: grid;
    padding: 10px;
    width: 100%;
}
.agencia h1{
    justify-self: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.icones{
    height: 20px;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    margin-left: 190px;
}
.ctt{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.icons{
    width: 50px;
}
.material-symbols-outlined {
    padding: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
.fale{
    width: 100%;
}
.fale h1{
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
.enviar{
    display: flex;
    flex-direction: column;
}
.email{
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    border: #ffff solid;
    margin-left: 100px;
}
.mensg{
    margin: 10px;
    width: 305px;
    height: 150px;
    border-radius: 5px;
    font-family: Jakarts;
    margin-left: 100px;
}
.final{
    display: flex;
    background-color: #000000;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.final h2{
    font-family: Jakarts;
    color: #ffff;
}