:root {
    --verde: #8DB600;
    --azul: #7AB3C6;
    --amarelo: #DFC900;
    --cinza: #ACACAC;
}

@font-face {
    font-family: Jakarts;
    src: url(../src/font/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

.containerpai {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Jakarts;
}
.imagem img {
    width: 466px;
    height: 671px;
    border-radius: 20px 20px 20px 20px;
    margin: 117px 89px 82px 146px;
}
.projeto h1 {
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 91px;
}

.projeto .Safe {
    color: var(--verde);
    font-weight: 900;
    font-size: 55px;
}

.projeto .Soy {
    color: var(--amarelo);
    font-size: 55px;
    font-weight: 900;
}

.projeto p {
    text-align: left;
    font-weight: 400;
    font-size: 25px;
    margin-right: 83px;
}
.tempUmidade{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 150px;
    margin-top: 84px;
}
.temperatura{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
}
.umidade{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    padding-left: 44px;
}
